<div id="fixed_nav" class="navbar navbar-default navbar-fixed-top navbar-slidebar" role="navigation">
  <div class="corset">
    
  
  
    <div class="navbar-header">
      <button type="button" class="navbar-toggle slidebar-toggle" data-target="#front-main-nav-colapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Magic-Stylez", "#", class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="front-main-nav-colapse">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Link", "#" %></li>
        <li><%= link_to "Link", "#" %></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
              Dropdown <b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
                <li><%= link_to "Link 1", "#" %></li>
                <li><%= link_to "Link 2", "#" %></li>
                <li><%= link_to "Link 3", "#" %></li>
            </ul>
        </li>
        <li><%= link_to "Button", "#", class: "btn btn-success" %></li>
      </ul>
    </div>
    
  </div>
</div>

<div class="main_content fixed-nav">
  
  
  <div class="section brand">
    <div class="corset">
      <h1>Responsive Slidebar</h1>
      <br/>
      <p class="loud">
        Turns the usual twbs <em>navbar-collapse</em> into a nice slidebar. .. try it out:<br/>
        make your screen smaller than 768px and press the header-toggle
      </p>
    </div>
  </div>
  
  <%= render "templates/lorem" %>
  
</div>