<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Magic-Stylez</title>
  <%# ===   App-View   === #%>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%# ===   iOS-App-View   === #%>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <%# ===   Site - Icon   === #%>
  <link href="<%= asset_path("ico/favicon.ico") %>" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <link href="<%= asset_path("ico/favicon.png") %>" rel="shortcut icon" type="image/png" />
  <%# iPad 3 Retina Display #%>
  <link rel="apple-touch-icon-precomposed" sizes="144x144"href="<%= asset_path("ico/apple-touch-icon-144x144-precomposed.png") %>" />
  <%# iPhone 4 Retina display #%>
  <link rel="apple-touch-icon-precomposed" sizes="114x114"href="<%= asset_path("ico/apple-touch-icon-114x114-precomposed.png") %>" />
  <%# iPad non-Retina display #%>
  <link rel="apple-touch-icon-precomposed" sizes="72x72"href="<%= asset_path("ico/apple-touch-icon-72x72-precomposed.png") %>" />
  <%# Non-Retina iPhone, iPod Touch, Android 2.1+ #%>
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path("ico/apple-touch-icon-57x57-precomposed.png") %>" />
  <%# Nokia #%>
  <link rel="apple-touch-icon" href="<%= asset_path("ico/apple-touch-icon.png") %>" />
  <script type="text/javascript" charset="utf-8">
    App = {};
    App.Environment = "<%= Rails.env.to_s %>";
  </script>
</head>
<body class="main_template">
  <a href="#" id="mobile_header" class="inline_table center_text">
    <div class="cell icn col-1 middle">
      <i class="olicons-show-sb"></i>
    </div>
    <div class="cell col-10 middle">
      <span id="current-view-name">Magic-Stylez</span>
    </div>
    <div class="cell icn col-1 middle">
      <i class="olicons-show-sb"></i>
    </div>
  </a>
  <%= render "front/aside" %>
  <div class="clearfix"></div>
  <div id="app_content">
    <%= yield %>
  </div>
  <div class="clearfix"></div>
</body>
</html>
