<!DOCTYPE html>
<html>
<head>
  <title>Magic-Stylez</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'blank' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <script type="text/javascript" charset="utf-8">
    App = {};
    App.Environment = "<%= Rails.env.to_s %>";
  </script>
</head>
<%= yield %>
</html>
