<div id="aside">
  <div class="aside-content">
    
    
    <ul class="nav_list dark">
      <li class="current active"><%= link_to "Magic-Stylez", "#", class: "app_lnk lst_lnk", data: {target: ""} %></li>
      
      <li><%= link_to "Layout", "#", class: "lst_lnk" %>
        <ul class="sub_nav">
          <li><%= link_to "Section", "#", class: "app_lnk lst_lnk", data: {target: "layout/section"} %></li>
          <li><%= link_to "Corset", "#", class: "app_lnk lst_lnk", data: {target: "layout/corset"} %></li>
          <li><%= link_to "Fullpage Table", "#", class: "app_lnk lst_lnk", data: {target: "layout/fullpage_table"} %></li>
        </ul>
      </li>
      
      <li><%= link_to "Elements", "#", class: "lst_lnk" %>
        <ul class="sub_nav">
          <li><%= link_to "Arrow Infos", "#", class: "app_lnk lst_lnk", data: {target: "elements/arrow_infos"} %></li>
          <li><%= link_to "Icons", "#", class: "app_lnk lst_lnk", data: {target: "elements/icons"} %></li>
        </ul>
      </li>
      
      
      <li><%= link_to "Effects", "#", class: "lst_lnk" %>
        <ul class="sub_nav">
          <li><%= link_to "Reflections", "#", class: "app_lnk lst_lnk", data: {target: "effects/reflections"} %></li>
          <li><%= link_to "Shadows", "#", class: "app_lnk lst_lnk", data: {target: "effects/shadows"} %></li>
        </ul>
      </li>
      <% if 3 == 4 %>
      <li><%= link_to "Layout", "#", class: "lst_lnk" %></li>
      <% end %>
    </ul>
    
    
  </div>
</div>