<div class="section head">
  <div class="corset">
    <div class="row">
      <div class="col-sm-9">
        <h1>magic-stylez</h1>
      </div>
      <div class="col-sm-3">
        <a href="https://github.com/berlinmagic/magic_stylez/tree/master" target="_blank" class="btn btn-sm btn-default btn-divided pull-right">
          <span class="icn"><i class="icomoon-github3"></i></span>
          <span>SourceCode</span>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="section flatted">
  <div class="corset">
    <p class="loud"><em>Some style helpers used in a lot of our apps.</em></p>
  </div>
</div>

<div class="section compact hard-top">
  <div class="corset center_text">
    <h2>Warning</h2>
    <p class="loud">This Gem is still work in process, it is not used in a production app!</p>
    <p class="loud">Its just the start to outsource my style framework (I mostly rebuild for every app).</p>
    <p class="loud">It is mostly driven by my own habits, so I don't know if its usefull for others.</p>
  </div>
</div>

<div class="section compact hard-top">
  <div class="corset">
    <h3>Dependencies</h3>
    <ul class="list">
      <li><%= link_to "bootstrap-sass", "https://github.com/twbs/bootstrap-sass", target: "_blank" %></li>
      <li><%= link_to "bourbon", "http://bourbon.io/", target: "_blank" %></li>
    </ul>
  </div>
</div>

<div class="section compact">
  <div class="corset">
    <h3>Thanks</h3>
    <p class="loud">
      A lot of code for this gem is taken from <%= link_to "bootstrap-sass", "https://github.com/twbs/bootstrap-sass", target: "_blank" %>, 
      so thank you guys for the great work.</br>
      Same goes for <%= link_to "bourbon", "http://bourbon.io/", target: "_blank" %> thanks for a lightweight helper set.
    </p>
    <p class="loud">Also thanks to all the people, how share their knowlegde on <%= link_to "stackoverflow", "http://stackoverflow.com/", target: "_blank" %>.</p>
  </div>
</div>

<div class="section compact">
  <div class="corset">
    <h3>Authors</h3>
    <ul class="list">
      <li><%= link_to "Torsten Wetzel", "http://twetzel.github.io/", target: "_blank" %></li>
      <li>many others ...</li>
    </ul>
  </div>
</div>

<div class="section compact">
  <div class="corset">
    <h3>License</h3>
    <p class="loud">MIT-License</p>
  </div>
</div>






<div class="section shine-top flat-bottom">
  <div class="corset">
    <p class="center_text">&copy; 2014 Torsten Wetzel (berlinmagic UG)</p>
  </div>
</div>


    



